.card-columns {
    .card {
        .card-body {
            .card-text {
                .badge {
                    transition: all .5s ease-out;
                    &:hover {                        
                        background-color: lighten($color: #000000, $amount: 20) ;
                    }
                   
                    
                }
                
            }
        }
    }
}
.album{
    background: #eeeeee;
    color: #fff;
}
.single{
    background: rgb(190, 226, 250);
    color: #fff;
}