<div class="card-columns">
  <div class="card" *ngFor="let cancion of nuevasCanciones" [ngClass]="{ 'album': cancion.album_type['album'] , 'single': cancion.album_type['single'] }">
    
    <img class="card-img-top" [src]="cancion.images[0].url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{ cancion.artists[0].name }}</h5>
      <h2 class="card-title text-center">{{ cancion.name }}</h2>
      <p class="card-text text-center">
        <span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-primary">{{ artista.name }}</span>
      </p>
      <a [href]="sanitizerUrl(cancion.uri)" class="btn btn-outline-primary text-black-100 w-100">escuchar</a>
      
    </div>
  </div>
</div>  